pkgbase = piliplus-bin
	pkgdesc = A Bilibili third-party client built with Flutter. | 使用Flutter开发的BiliBili第三方客户端
	pkgver = 1.1.5_pre2
	pkgrel = 1
	url = https://github.com/bggRGjQaUbCoE/PiliPlus
	arch = x86_64

	license = GPL-3.0-or-later
	depends = gtk3
	depends = mpv
	depends = libayatana-appindicator
	provides = piliplus
	conflicts = piliplus
	conflicts = piliplus-git
	options = !debug
	options = !strip
	source_x86_64 = https://github.com/bggRGjQaUbCoE/PiliPlus/releases/download/1.1.5-pre2/PiliPlus_linux_1.1.5%2B4336_amd64.tar.gz

	sha256sums_x86_64 = ffd6a6718290fedf0a5d49cc966d3b6441c5a04dff427c7bcc5f1ccfd1aa0d5c


pkgname = piliplus-bin