pkgbase = piliplus-bin
	pkgdesc = A Bilibili third-party client built with Flutter. | 使用Flutter开发的BiliBili第三方客户端
	pkgver = 1.1.5_pre3
	pkgrel = 1
	url = https://github.com/bggRGjQaUbCoE/PiliPlus
	arch = x86_64

	license = GPL-3.0-or-later
	depends = gtk3
	depends = mpv
	depends = libayatana-appindicator
	provides = piliplus
	conflicts = piliplus
	conflicts = piliplus-git
	options = !debug
	options = !strip
	source_x86_64 = https://github.com/bggRGjQaUbCoE/PiliPlus/releases/download/1.1.5-pre3/PiliPlus_linux_1.1.5%2B4337_amd64.tar.gz

	sha256sums_x86_64 = 35b6568e9cf617d90b032a6355c6315aa208fd7847ea8ec014b7be8d79e3b36d


pkgname = piliplus-bin